    <!-- About Section -->
    <section id="research" class="container content-section">
        <div class="row">
            <!-- Left Image -->
            <div class="col-md-5">
                <img src="{{ site.baseurl }}/img/research1.jpg" 
                    alt="research1" 
                    class="about-img img-responsive">
            </div>
            <!-- Right Text -->
            <div class="col-md-7">
                <h2>GREENHOUSE GAS MONITORING AND CARBON NEUTRALITY</h2>
                <p>To mitigate climate change, we quantify greenhouse gas emissions and sinks and develop science-based pathways toward carbon neutrality. Using satellite observations and artificial intelligence, we estimate carbon emissions and sinks across public institutions, industries, and national systems. We further assess long-term trends and evaluate mitigation strategies to support effective climate policy and decision-making.</p>
        </div>
    </section>
